@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* global.css veya varsayılan input stilinde */
.input {
  @apply w-full mt-1 px-4 py-2 bg-white text-black border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-emerald-600 transition placeholder:text-gray-400;
}

html {
  scroll-behavior: smooth;
}


:root {
  --background: #f2f2f2;   /* Mat açık arka plan */
  --foreground: #1e1e1e;   /* Yumuşak siyah yazı rengi */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;  /* Mat koyu arka plan */
    --foreground: #e0e0e0;  /* Açık ama göz yormayan yazı */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  @apply overflow-x-hidden;
}

/* reCAPTCHA rozeti görünmez yapıldı */
.grecaptcha-badge {
  visibility: hidden;
}
